In [19]:
# Note to any one looking at this and coming from the R notes, python utilizes 0 based indexing, which means that things start with 0 instead of 1, like most other data science programming languages (and regular human, as opposed to mathematical, experience). Also, when dealing with ranges, the last number is left open, i.e. not included as part of the range. So if you want the first 10 things (I'm using 'first' loosely), you'd need the range(0, 10), which would give you the zeroeth through 9th indices, i.e. the first 10 elements. I assure you though, this approach will cost no programming time whatsoever, nor any issue at all on projects that require multiple programming languages.

import string
import numpy as np
import pandas as pd

letters_list = list(string.ascii_lowercase)
letters_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
letters = np.array(list(string.ascii_lowercase))

In [2]:
## ----vectorSlice, eval=TRUE----------------------------------------------
letters[3:6]
letters[[12,9,2]]

array(['m', 'j', 'c'],
      dtype='<U1')

In [3]:
## example ranges
[i for i in (range(0,10))]  # or range(10)
np.arange(10)

myMatrix = np.arange(1,13).reshape(3,4)
mydf = pd.DataFrame({'a': [1,5,2],
                     'b': [3,8,1]}, index=['row1', 'row2', 'row3'])

In [4]:
## ----matrixSlice---------------------------------------------------------
myMatrix[0, 2:4]

array([3, 4])

In [5]:
## ----dfindexlabel--------------------------------------------------------
mydf.loc['row1', 'b']

3

In [6]:
## ----dfindexpos----------------------------------------------------------
mydf.iloc[0, 1]

3

In [7]:
## ----dfindexmix----------------------------------------------------------
mydf.ix['row1', 1]  # deprecated due to reasons of 'user confusion', do by label for reproducibility anyway

/Users/micl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

3

In [8]:
## ----dfindexslice--------------------------------------------------------
mydf.loc['row1',:]
mydf.loc[:,'b']

row1    3
row2    8
row3    1
Name: b, dtype: int64

In [9]:
## ----dfindexnoncont------------------------------------------------------
mydf.iloc[[0,2],:]

      a  b
row1  1  3
row3  2  1

In [10]:
## ----dfindexbool---------------------------------------------------------
mydf[lambda df: df.a >= 2]

      a  b
row2  5  8
row3  2  1

In [11]:
## ----dflistslice---------------------------------------------------------
## Note, pandas dataFrames are not lists, but you could get something similar by converting it to a dictionary via mydf.to_dict().  These examples will just regard a list/dict where noted.
#my_list_or_df[2:4]
letters_list[1:4]

['b', 'c', 'd']

In [12]:
## ----dflistextract-------------------------------------------------------
letters_dict['d']   # dict
mydf['a']           # dataframe

row1    1
row2    5
row3    2
Name: a, dtype: int64

In [13]:
## ----dflistextract2------------------------------------------------------
mydf.a
letters_dict.pop('a')   # pop by name

1

In [16]:
## ------------------------------------------------------------------------
mymatrix = np.matrix(np.random.normal(size=100)).reshape(10, 10)
mydf = pd.read_csv('../data/cars.csv')
my_matdf_list = {'thismat': mymatrix, 'thisdf': mydf}  # all have to be named

In [17]:
## ---- echo=F-------------------------------------------------------------
mymatrix[0:5, ]
mymatrix[:,0:5]
mymatrix[0,1]

0.46299876748396412

In [18]:
## ---- echo=F-------------------------------------------------------------
mydf.disp
mydf.iloc[:,3]
mydf['disp']

0     160.0
1     160.0
2     108.0
3     258.0
4     360.0
5     225.0
6     360.0
7     146.7
8     140.8
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    472.0
15    460.0
16    440.0
17     78.7
18     75.7
19     71.1
20    120.1
21    318.0
22    304.0
23    350.0
24    400.0
25     79.0
26    120.3
27     95.1
28    351.0
29    145.0
30    301.0
31    121.0
Name: disp, dtype: float64

In [ ]:
## ---- echo=F-------------------------------------------------------------
my_matdf_list.pop('thisdf')